package main

import (
	"log"

	common "github.com/rbtr/aoc2021"
)

func main() {
	puzzle, err := common.Load()
	if err != nil {
		log.Fatal(err)
	}
	if err := one(puzzle.Sample); err != nil {
		log.Fatal(err)
	}
	if err := one(puzzle.Input); err != nil {
		log.Fatal(err)
	}
	if err := two(puzzle.Sample); err != nil {
		log.Fatal(err)
	}
	if err := two(puzzle.Input); err != nil {
		log.Fatal(err)
	}
}

func one(puzzle []byte) error {
    return nil
}

func two(puzzle []byte) error {
    return nil
}
